body{
    background-color: burlywood;
    text-align: center;
    font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
	font-size: 25px;
	margin-right: 65px;
	margin-left: 65px;
}

